body {
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
/* headers */
h1 {
    color: #fff;
    font-weight: normal;
    font-size: 50px;
}

h2 {
    font-size: 42px;
    color:#fff;
    font-weight: 300;
}

h4 {
    font-size: 21px;
    color: #808080;    
}

/* links */
.link {
    font-size: 16px;
    color: aquamarine;
}

/*footer */
footer {
    text-align: right;
    color: #808080;
    font-size: 21px;
}